.form-container {
  width: 100%;
  padding: var(--spacing-lg);
  background: var(--color-surface);
  
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);

  &--default {
    width: 600px;
    padding: var(--spacing-lg);
    background: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-sm);
    .form__fields-row {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-md);
    }
  }

  &--small {
    width: 400px;
    padding: var(--spacing-sm);
    .form__fields, .form__actions {
        
        margin: var(--spacing-md) auto;
    }
    .form__fields-row {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }

  }

  &--large {
    width: 800px;
    padding: var(--spacing-xl);
    .form__fields-row {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-md);
    }
  }
  &--border{
    border: 1px solid var(--color-border);
  }
}

.form {
  &__header {
    margin-bottom: var(--spacing-xl);
    text-align: center;
  }

  &__title {
    color: var(--color-text-primary);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-xs);
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-xl);
  }

  &__actions {
    margin: var(--spacing-xl) 0;
    
  }

} 
